<title>{{formData.query}} jobs</title>
<section ng-init="init()"> 
<h1>Search Results</h1>

<dnr-search-form></dnr-search-form>
<ul ng-model="job_results">	
	<li ng-repeat="job in job_results">
		<p>{{job.formattedRelativeTime}}</p>
		<span>{{job.jobtitle}}</span><br>
		<span>{{job.company}}</span><br> 
		<span>{{job.formattedLocationFull}}</span>
		<p ng-bind-html="trustAsHtml(job.snippet)"></p>
		<p>{{job.job_summary}}</p>
	</li>
</ul>

</section>