<%= stylesheet_link_tag "results" %>
<header>
	<img alt="Degree Not Required Logo" id="logo" src="assets/degree not required.svg">
	<span id="app_name">Degree Not Required</span>
</header>
<title>{{formData.query}} jobs</title>
	<dnr-search-form></dnr-search-form>
<section ng-init="init()"> 
<h1>Search Results</h1>
	<ul ng-model="job_results">	
		<li ng-repeat="job in job_results">
			<p ng-bind-html="trustAsHtml(job.formattedRelativeTime)"></p>
			<span ng-bind-html="trustAsHtml(job.jobtitle)"></span><br>
			<span ng-bind-html="trustAsHtml(job.company)"></span><br> 
			<span ng-bind-html="trustAsHtml(job.formattedLocationFull)"></span>
			<p ng-bind-html="trustAsHtml(job.snippet)"></p>
			<hr>
		</li>
	</ul>

</section>