html{
	background: -webkit-linear-gradient(top, rgba(65,186,186,.8) 0%,rgba(84,206,174,0.3) 100%), url('/images/city.jpg') no-repeat center center fixed;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;	
}
.whiteText{
	color: white;
}
div[name="show_spinner"]{
	  right: 0;
	  position: fixed;
	  z-index: 10;
	  background-color: transparent;
}

div[name="show_spinner"] img{
  height: 90px;
}
section a{
	font-weight: 900;
}
section{
	margin-bottom: 100px;
}
section div{
	padding-top: 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: rgba(232, 241, 244,1);
	margin-bottom: 25px;
}

#job_title{
	align-self: center;
	font-weight: 900;
}
#company{
	align-self: center;
	font-weight: 900;
}

#location{
	align-self: center;	
	font-weight: 900;
}

#time_posted{
	align-self: center;
	font-weight: 900;
}

#job_summary{
	align-self: center;
	text-align: justify;
	width: 95%;
	font-weight: 400;
}

#apply button{
		background:  -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
}

#apply{
	align-self: center;
	padding-bottom: 30px;
	padding-top: 25px;
}

#prev{
	float: left;
	font-family: "Raleway",sans-serif;
	margin: auto;
	border-color: #2187B7;
	padding: 10px; 
    font-size: 1.25em;
    text-decoration: none;
    background:  -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
    color: white;
    position: relative;
    border-radius: 5px;
    font-weight: bolder;
    width: 100px;
}

#next{
	font-family: "Raleway",sans-serif;
	margin-top: 15px;
	margin: auto;
	border-color: #2187B7;
	padding: 10px; 
    font-size: 1.25em;
    text-decoration: none;
    background:  -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
    color: white;
    position: relative;
    border-radius: 5px;
    font-weight: bolder;
    width: 100px;
	float: right;
}

section button{
	margin-top: 10px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}


#visitor_counter{
	float: right;
	color: white;
	padding-right: 5px;

}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
