<title>Degree Not Required</title>
<section ng-controller="homeCtrl"> 
<%= stylesheet_link_tag "home" %>
<h1>Degree Not Required</h1>

<form action="jobs">
  Search:<br>
  <input type="text" name="query" value="" placeholder="Job Title,Company"><br>
  <input type="submit" ng-click="search()" value="Submit">
</form>

<p>Tell me a bit about yourself __</p>
<p>I live in State:__</p>
<p>City __</p>
<p>I am interested in the __ field</p>
<p>My desired position is ___</p>
<p> I have about ___ years experience in ____</p>
<p>What are your skills?</p>

	{{firstName}}
</section>
