<%= stylesheet_link_tag "home" %>
<title>Degree Not Required</title>
<section>
	<h1 id="app_name">Degree Not Required</h1>
	<dnr-search-form></dnr-search-form>
  <div id="visitor_counter">JOB SEEKERS : </div>
  <br>
</section>
  <footer>	STUfF AND TINGS</footer>
