<%= stylesheet_link_tag "home" %>
<title>Degree Not Required</title>
	<header id="app_name">Degree Not Required</header>
<section ng-cloak>
<figure>
<a href="/"><img href="/" alt="Degree Not Required Logo" id="logo" src="assets/degree not required.svg"></a>
 <figcaption>Hire For Skill, </figcaption>	
</figure>
	<dnr-search-form ng-cloak></dnr-search-form>
  <div id="visitor_counter">JOB SEEKERS: </div>
  <br>
</section>

