<%= stylesheet_link_tag "home" %>
<title>Degree Not Required</title>
	<header id="app_name">Degree Not Required</header>
<section ng-cloak>
<figure>
<a href="/"><img href="/" alt="Degree Not Required Logo" id="logo" src="assets/degree not required.svg"></a>
 <figcaption>Sometimes the best talent doesn't have a degree</figcaption>	
</figure>
	<dnr-search-form ng-cloak></dnr-search-form>
 <div ng-model="job_seekers" id="visitor_counter" ng-bind="'Job Seekers: ' + job_seekers.response"></div>
<br>
</section>

