body{
	background: -webkit-linear-gradient(top, rgba(65,186,186,1) 0%,rgba(84,206,174,0.3) 100%),url('/assets/city.jpg') no-repeat center center fixed;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%; 
	width: 100%; 
}


#search_form{
	z-index: 1;
	position: relative;
	margin: auto;
	flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 5px;
}

input[name="query"]{
	position: relative;
	align-self: center;
	width: 250px;
	height: 35px;
	margin: 5px;
}

input[name="location"]{
	position: relative;
	width: 250px;
	height: 35px;
	align-self: center;
	margin: 5px;
	
}

input[type="submit"]{
	margin: auto;
	display: block;
	height: 35px;
	margin: 5px;
}


ul{
	box-shadow: 5px 5px 10px #245551;
	background-color: rgba(232, 241, 244,.7);
	margin: 0;
	padding: 10px;
}

li{
	list-style: none;
	/* border: dashed 8px; */
}

section{
	clear: both;
	width: 100%;
	margin: auto;

}
.labels{
	float: right;
}


#logo{
	clear: right;
	float: left;
	margin: auto;
	max-width: 15%;
	max-width: 85px;
	max-height: 85px;
	height: auto;	
}

header{
	margin: auto;
	clear: both;
	position: relative;
	text-align: center;
	font-size: 1.5em;
}


