html{
	background: -webkit-linear-gradient(top, rgba(65,186,186,.8) 0%,rgba(84,206,174,0.3) 100%), url('/assets/city.jpg') no-repeat center center local;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}


#search_form{
	z-index: 1;
	position: relative;
	margin: auto;
	flex-direction: column;
	justify-content: space-evenly;
	display: flex;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
    width: 50%;
    padding: 5px;
}

input[name="query"]{
	position: relative;
	align-self: center;
	width: 250px;
	height: 35px;
	margin: 5px;
	font-family: "Raleway",sans-serif;
	color: #008086;
	font-weight: 900;
}

input[name="location"]{
	position: relative;
	width: 250px;
	height: 35px;
	align-self: center;
	margin: 5px;
	font-family: "Raleway",sans-serif;
	color: #008086;
	font-weight: 900;
}

input[type="submit"]{
	flex-basis: 20%;
	align-self: center;
	font-family: "Raleway",sans-serif;
	margin: auto;
	position: relative;
	border-color: #2187B7;
	padding: 10px; 
    font-size: 1.25em;
    text-decoration: none;
    background:  -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
    color: white;
    position: relative;
    border-radius: 5px;
    font-weight: bolder;
}

input[type="submit"]:active{
	transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
}

input[type="submit"]:hover{
	background-color: #7EE2C9;
}

.results{
	box-shadow: 5px 5px 10px #245551;
	background-color: rgba(232, 241, 244,1);
	margin: 0;
	padding: 10px;
}

.jobs{
	list-style: none;
	/* border: dashed 8px; */
}

section{
	clear: both;
	width: 100%;
	margin: auto;
}
.labels{
	float: right;
}


#logo{
	margin: auto;
	max-width: 15%;
	max-width: 85px;
	max-height: 85px;
	height: auto;	
}

header{
	margin: auto;
	clear: both;
	position: relative;
	text-align: center;
	font-size: 1.5em;
}

#app_name{
	display: none;
}

#SR{
	position: relative;
	padding-bottom: 5px;
	color: white;
	font-weight: 900
}

.labels{
	font-size: 1.25em;
	color: white;
}

.page_num{
	text-align: center;
	margin: auto;
}

.page_num button{
	margin-right: 3px;
	padding: 10px;
	background-color: #7EE2C9;
}
