<!DOCTYPE html>
<html ng-cloak ng-app="Degree_Not_Required">
  <head ng-cloak>
    <base ng-cloak href="/">
    <script type="text/javascript" src="http://gdc.indeed.com/ads/apiresults.js"></script>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="any" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body ng-cloak ui-router-styles>
    <div ng-cloak ui-view></div>
    
    <footer ng-cloak>
      <div id="PayPal_button">
        <span>Help People Get Jobs!</span>
        <form id="PayPal_button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="3R83N4JVAPUNQ">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      
      <span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search">
<img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0;
vertical-align: middle;" alt="Indeed job search"></a></span>
  <a id="contact" href="mailto:jaimie.walker@comic-games.com?Subject=Degree%20Not%20Required" target="_top">Contact</a>
   <br>
   <span>
    &copy; 2016<script async>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script>, Degree Not Required.</span>
     
    </footer>
  </body>
</html>
