<link rel="stylesheet" media="screen" href="/assets/job-6c5adf8e69c4ce92e3917f10b2f7802a99af1878f7b651aa1351f0d18b30e7d0.css" /><section dnr-arrow-press ng-model="job">
<span>Use left <-- and right arrows --> to navigate pages<span ng-model="job_seekers" id="visitor_counter" ng-bind="'Job Seekers: ' + job_seekers.response"></span>
  <br></span>
<br>
	<a href="/jobs">Back to results</a>
</span>
<spinner id="spinner" name="show_spinner" img-src="images/squares.gif"></spinner>
<title ng-bind="job.jobtitle"></title>
		<div>
			<span id="job_title" ng-bind-html="trustAsHtml(job.jobtitle)"></span>
			<span id="company" ng-bind-html="trustAsHtml('Company: '+ job.company)"></span>
			<span id="location" ng-bind-html="trustAsHtml(job.formattedLocation)"></span>
			<span id="time_posted" ng-bind-html="trustAsHtml('Posted: '+ job.formattedRelativeTime)"></span>
			<br><br>
			<span id="job_summary" ng-bind-html="trustAsHtml(job.job_summary)"></span>
			<a id="apply" target="_blank" ng-href="{{job.url}}"><button>Apply</button></a>
		</div>
<!-- Need to abstract -->
		<button ng-click="prev($event)" id="prev">Prev</button>
		<button ng-click="next($event)" id="next">Next</button>
</section>


